.box-shadow {
    box-shadow: 0 5px 5px rgba(0,0,0, 0.2);
}

body {
    background-color: #f2faff!important;
    /*background-color: #e1f4ff!important;*/
}


.link-nav-bar {
    text-decoration: none;
    color: #00568c;
}